body {
  background: var(--color-secondary);
  color: var(--color-white);
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  height: 100vh;
}

:root {
  --color-primary: #1db954;
  --color-secondary: #000000;
  --color-white: #ffffff;
  --color-grey1: #242424;
  --color-grey2: #121212;
  --color-grey3: #757474;
  --box-shadow-1: 0 1px 1px var(--color-primary);
  --border-radius: 20px;
  --font-size: 1rem;
  --transition: all ease-in-out 0.4s;
}

.fundraiser {
  color: var(--color-primary);
  font-weight: 600;
}

.welcomeContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1.08fr 2.92fr;
  grid-column-gap: 1%;
}
.welcomeContainer .left-side .fixed {
  position: fixed;
}
.welcomeContainer .left-side footer {
  position: fixed;
  bottom: 1.3%;
  width: 100%;
}
.welcomeContainer .right-side {
  background-color: var(--color-grey2);
  border-radius: var(--border-radius);
}
.welcomeContainer .right-side .right-container {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}
.welcomeContainer .right-side .right-container h1 {
  padding-top: 2%;
  text-align: center;
}
.welcomeContainer .right-side .right-container .images {
  width: 96%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2%;
  margin: auto;
}
.welcomeContainer .right-side .right-container .images img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
}
.welcomeContainer .right-side .right-container p {
  padding: 2%;
  font-size: 1.1rem;
  line-height: 1.5;
}

.Nav {
  background-color: var(--color-grey2);
  height: 25vh;
  width: 25vw;
  margin: 1%;
  border-radius: var(--border-radius);
}
.Nav ul {
  list-style: none;
  padding-left: 2vw;
  padding-top: 1vw;
}
.Nav ul li {
  margin-bottom: 5%;
  align-items: center;
  display: flex;
}
.Nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 1%;
}
.Nav ul li:not(:first-child):not(:nth-child(2)) {
  font-size: large;
  color: #9f9f9f;
}
.Nav ul li:not(:first-child):hover {
  padding-left: 1%;
  box-shadow: 0 1px 1px var(--color-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.appIcon {
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-right: 0.5rem;
}

.homeIcon {
  border-radius: 3px;
  margin-right: 0.5rem;
}

.searchIcon {
  border-radius: 3px;
  margin-right: 0.5rem;
}

.RFFConrainer {
  box-sizing: border-box;
  font-size: var(--font-size);
  background-color: var(--color-grey2);
  height: 65vh;
  width: 25vw;
  margin: 1%;
  margin-top: 3%;
  border-radius: var(--border-radius);
}
.RFFConrainer .gift-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.RFFConrainer .gift-container h2 {
  margin-right: 0.5vw;
}
.RFFConrainer .gift-container img {
  border-radius: var(--border-radius);
}
.RFFConrainer .buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}
.RFFConrainer .buttons button {
  height: 6vh;
  width: 17vw;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  margin-top: 3.5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: var(--border-radius);
}
.RFFConrainer .buttons button:hover {
  color: var(--color-white);
  box-shadow: 0 1px 1px var(--color-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-grey1);
}

.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey3);
  margin: 1%;
}
.connect img {
  margin-left: 0.5%;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.customButton {
  margin-left: 1vw;
  height: 2.3vw;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.fundRoom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fundRoom button {
  width: 5.5vw !important;
}
.fundRoom input {
  width: 10vw;
  border-radius: var(--border-radius);
  margin-left: 0.5vw;
  height: 5vh;
}/*# sourceMappingURL=styles.css.map */