body {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial,
    "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  height: 100vh;
}
//Style variables
:root {
  --color-primary: #1db954;
  --color-secondary: #000000;
  --color-white: #ffffff;
  --color-grey1: #242424;
  --color-grey2: #121212;
  --box-shadow-1: 0 1px 1px var(--color-primary);
  --border-radius: 10px;
  --font-size: x-large;
}
//Nav styles
.Nav {
  font-size: var(--font-size);
  background-color: var(--color-grey2);
  height: 25vh;
  width: 25vw;
  margin: 1%;
  border-radius: var(--border-radius);
  ul {
    list-style: none;
    padding-left: 2vw;
    padding-top: 1vw;
    li {
      margin-bottom: 5%;
      align-items: center;
      display: flex;
      a {
        text-decoration: none;
        color: inherit;
        padding: 1%;
      }
    }
    li:not(:first-child):not(:nth-child(2)) {
      font-size: large;
      color: #9f9f9f;
    }
    li:not(:first-child):hover {
      padding-left: 2%;
      box-shadow: 0 1px 1px var(--color-primary);
      border-radius: var(--border-radius);
      cursor: pointer;
    }
  }
}

//Icon styles
.appIcon {
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-right: 0.5rem;
}
.homeIcon {
  border-radius: 3px;
  margin-right: 0.5rem;
}
.searchIcon {
  border-radius: 3px;
  margin-right: 0.5rem;
}

//RiserFundFor Styles
.RFFConrainer {
  box-sizing: border-box;
  font-size: var(--font-size);
  background-color: var(--color-grey2);
  height: 65vh;
  width: 25vw;
  margin: 1%;
  border-radius: var(--border-radius);
  padding-left: 2vw;
  padding-top: 1.5vw;
  ul {
    list-style: none;
  }
}
